.taskcontainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-top: 50px;
  padding-bottom: 90px;
  padding-left: 220px;
}
.taskhead{
  padding-left: 40px;
  padding-top: 20px;
  padding-right: 20px;
}
